<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.2//EN" "http://resources.openmrs.org/doctype/config-1.2.dtd">

<module configVersion="1.2">
    <id>odkclinic</id>
    <name>ODK Clinic</name>
    <version>0.1</version>
    <package>com.@MODULE_ID@.server</package>
    <author>Owen Kim</author>
	<description>
         Server module for Android application "ODK Clinic"
	</description>
	
	<activator>@MODULE_PACKAGE@.ODKClinicActivator</activator>
	
	 <require_version>1.2.04</require_version>
     <require_database_version>1.2.04</require_database_version>
	
	<servlet>
		<servlet-name>ODKClinicServer</servlet-name>
	    <servlet-class>@MODULE_PACKAGE@.web.AndroidServlet</servlet-class>
	</servlet>
	
</module>